body{
<<<<<<< HEAD
    background: #BDBDBD;
}



=======
    background: white;

}

.img-thumbnail{
    padding: 0px;
    margin-left: 30%;
}

.tagline{
    background-image: 
url(https://b340b999-9206-4440-bbc3-973ec7a7e3e2.ws-us02.gitpod.io/mini-browser/workspace/collaborative-html-caracas/website1/assets/img/bg.jpg);
    background-repeat: no-repeat;
     height:100vh;
     width: 100%;
     background-size: cover;
     background-position: center;

}
.tagtex{ 
    background-color: rgba(255, 255, 255, 0.925);
    margin:auto;

}


<<<<<<< HEAD
.port-image{
  height: 60%

}
=======


>>>>>>> 0acdd1508deb6e3471f6765cd0c746116de922af
>>>>>>> 5a55319e1c0c4ffd4d67ae13922a0e8bb5716a7c
