<!-- your html code here -->
<div class="container" style="padding-top: 80px"> <!creo mi container y un padding arriba>
<div class="text1" style="font-size: 19px;">
    <h1>Contact</h1>
    <p> Done ullamcorper nulla non metus auctor fringila. Vestibulum id liguia porta felis euismod semper. Praesent commodo cursus
        magna,vel scelerisque nisi consectetur. Fusce debipuc, tellus as cursus commodo.</p>
</div>
<div class="mx-auto" style="width:max-content"> <! esto es para poner todo en el medio>
    <form>  <!aqui empiezo mi formulario>
    <div class="text2" style="font-size: 19px;">
    <div class="card" style="width: 46rem;padding-left: 90px;padding-right: 10px;padding-top: 10px;background-color: #E5E8E8;">
         <div class="form-group row"> 
        <label for="colFormLabel" class="col-sm-3 col-form-label">Your E-mail</label>
            <div class="col-sm-9">
          <input type="email" class="form-control" id="colFormLabel" placeholder="Your email">
            </div>
        </div>
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-3 col-form-label">Your message</label>
            <div class="col-sm-9">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message"></textarea>
            </div>       
        </div>
    </form>
        <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 40px;"> <!poner boton a la izquierda>
        <div class="mt-auto p-2 bd-highlight"><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>
    </div>
    </div>
</div>
</div>