<!-- your html code here -->


<div class="container-fluid" styles="padding-top: 10px;" >
  <div class="row" style="background-color: white;">
<!--Columna izquierda - First Heading-->    
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">The First Heading <span style="color:gray;">Will Catch Your Eye</span></h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque egestas eleifend neque non fermentum. Fusce id aliquet est. Mauris elementum nunc quis sagittis laoreet. Maecenas viverra vehicula nulla, at faucibus.</p>
      </div>
    </div>
<!--Columna derecha - Imagen-->
    <div class="col-md-4">
      <img src="./assets/img/1.jpg" class="img-thumbnail rounded-circle rounded-sm border-0" alt="Walter White">
    </div>
  <!--Cierre del row-->  
  </div>
 </div>