<!-- your html code here -->
<div class="container-fluid">   
    <div class="row justify-content-left">
        <div class="col-12">
            <h4>Portfolio</h4>
        </div>
    </div>
    <div class="row justify-content-left">
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur eligendi nihil quas expedita qui dolore corporis alias temporibus rem voluptatum labore perferendis vel deserunt architecto consequuntur doloremque ducimus illum laudantium, beatae harum libero dolorum.
        <div>
    </div>
    <div class="row justify-content-between">
        <div class="col-4 card port-card">
            <img class="card-image-top port-image" src="./assets/img/big-project-image.png" alt="card image cap">
            
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente optio eius.</p>
            </div>
        </div>
        <div class="col-4 card port-card">
            <img class="card-image-top port-image" src="./assets/img/big-project-image.png" alt="card image cap">
            
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente optio eius.</p>
            </div>
        </div>
        <div class="col-4 card port-card">
            <img class="card-image-top port-image" src="./assets/img/big-project-image.png" alt="card image cap">
            
            <div class="card-body">
                <h5 class="text-primary">Project Name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente optio eius.</p>
            </div>
        </div>
       
    
    </div>
</div>    