<h2>Portfolio</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, ducimus.</p>
<div class="card-deck">
  <div class="card">
    <img src="https://www.protekdevices.com/xyz/images/package/700x400.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.protekdevices.com/xyz/images/package/700x400.gif" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
  <div class="card">
    <img src="https://www.protekdevices.com/xyz/images/package/700x400.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-primary">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet.</p> 
    </div>
  </div>
</div>
