<!-- your html code here -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 overflow-auto">
                <img class="rounded-circle float-left" src="assets/img/2.jpg" alt="services">
            </div>
            <div class="col-md-8">
                <p class="h1">The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></p> 
                <p class="font-weight-normal">Donec Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ullam quis dolor inventore aliquam deserunt sed iure enim, deleniti dicta, odit eveniet maxime laborum dolorum mollitia vel nesciunt sequi ipsa!</p>
            </div>
        </div>
    </div>