<!-- ===== Inicia Service ===== -->

<section>
    <div class="container-fluid">

        <div class="row">
        
            <div class="col-md-4 mb-2 content-img">
            
                <img src="./assets/img/2.jpg" alt="" class="img-thumbnail rounded-lg rounded-sm rounded-circle border-0" >
            
            </div>


            <div class="col-md-8">
            
               <div class="card-body"> 
                    <h2 class="card-title"> The Second Heading <span style="color:gray"> Is Pretty Cool To.</span> </h2>
                     

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa repellat, asperiores dignissimos, iure inventore ut perferendis voluptate dolorem voluptas deserunt amet atque minima animi quos quo aut molestiae error molestias.
                </p>
                </div>
            
             </div>

         </div>
    
     </div>

 </section>
